
/* 首页CSS */
.bg { position: fixed; top: 0; left: 0; z-index: -1;}
.header_wrap { position: fixed; top: 0; left: 0; background: #000; height: 60px; z-index: 9;}
.header { width: 80%;}
.header_wrap h1 { width: 186px; height: 40px; background: url(../../images/logo0.gif) 0 0 no-repeat; float: left; margin-top: 10px; overflow: hidden;}
.header_wrap h1 a { width: 186px; height: 0; padding-top: 40px; display: block; overflow: hidden;}
.nav { float: right; }
.nav li { float: left; height: 60px;}
.nav li a { color: #fff; display: block; height: 60px; line-height: 60px; padding: 0 20px 0 20px; font-size: 16px;}
.con { width: 70%; margin: 15% auto 10%;}
.con p { width: 70%; font-size: 24px; line-height: 50px; text-indent: 2em; text-align: justify;}
.footer_wrap { height: 40px; width: 100%; background: #333; position: fixed; left: 0; bottom: 0;}
.footer_wrap p{width: 100%; text-align: center; height: 40px; line-height: 40px; font-size: 14px; color: #aaa;}

/* 产品服务 */
.service_con { width: 60%; padding-top: 150px; overflow: hidden;}
.service_con dl { width: 25%; float: left;}
.service_con dt { text-align: center;}
.service_con dd { text-align: justify; padding-bottom: 20px;}
.service_con dd p { width: 100%; text-align: center;}
.service_con dd span { display: block; width: 100%; text-align: center;}
.service_con dd h2 { height: 60px; line-height: 60px; text-align: center; font-size: 24px; color: #333; font-weight: normal;}


/* 加入我们 */
.joinUs { width: 60%; padding-top: 80px;}
.joinUs ul li { margin-bottom: 30px;}
.joinUs ul li h4 { font-size: 18px; color: #333;} 
.joinUs ul li h5 { font-size: 16px; color: #666; height: 30px; line-height: 30px;}
.joinUs ul li p { font-size: 16px; line-height: 24px;}
.joinUs span { left: 280px; top: 160px; width: 200px; height: 3px; background: #e83918;}
.joinUs p { width: 70%;}

/* 联系我们 */
.contact_wrap { height: 292px; width: 100%; position: relative; overflow: hidden;}
.contact_wrap img { width: 1920px; height: 292px; position: absolute; top: 0; left: 50%; margin-left: -960px;}
.contact_main { width: 60%; margin: 0 auto;}
.contact_main p {font-size: 18px; height: 30px; line-height: 30px;}

